# Calculating the Risk of Securities

In [1]:
import pandas as pd 
from pandas_datareader import data as wb
import yfinance 
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
yfinance.pdr_override()

## Importing Securities Data

In [9]:
amrt = wb.get_data_yahoo('AMRT.jk', start = '2015-01-01', end = '2023-04-01')['Adj Close']
bfin = wb.get_data_yahoo('BFIN.jk', start = '2015-01-01', end = '2023-04-01')['Adj Close']
admf = wb.get_data_yahoo('ADMF.jk', start = '2015-01-01', end = '2023-04-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## Calculating Log Retrn of Adj Closing Price

In [17]:
amrt_log_return = np.log(amrt / amrt.shift(1))
bfin_log_return = np.log(bfin / bfin.shift(1))
admf_log_return = np.log(admf / admf.shift(1))

### AMRT

#### Daily Return

In [19]:
amrt_log_return.mean()

0.0008906954416571424

In [20]:
amrt_log_return.std()

0.02599994308438336

#### Annual Return

In [22]:
amrt_log_return.mean() * 250

0.2226738604142856

In [23]:
amrt_log_return.std() * 250 ** 0.5

0.4110951959069742

### ADMF

#### Daily Return

In [41]:
admf_daily_return = admf_log_return.mean()
admf_daily_return

0.0004935776516072988

In [25]:
admf_log_return.std()

0.014894356587411794

#### Annual Return

In [26]:
admf_log_return.mean() * 250

0.1233944129018247

In [27]:
admf_log_return.std() * 250 ** 0.5

0.23550045549477028

### BFIN

#### Daily Return

In [29]:
bfin_log_return.mean()

0.0010348809855993022

In [30]:
bfin_log_return.std()

0.02777862919420809

#### Annual Return

In [31]:
bfin_log_return.mean() * 250

0.25872024639982555

In [33]:
bfin_log_return.std() * 250 ** 0.5

0.43921869265472696

## Compiling Into a Single DataFrame

### Daily

In [61]:
daily_return =  pd.DataFrame({
    'admf':admf_log_return.mean(),
    'amrt' :amrt_log_return.mean(),
    'bfin' : bfin_log_return.mean()}, index = [1])
daily_return

       admf      amrt      bfin
1  0.000494  0.000891  0.001035

In [62]:
daily_deviation = pd.DataFrame({
    'admf':admf_log_return.std(),
    'amrt' :amrt_log_return.std(),
    'bfin' : bfin_log_return.std()}, index = [1])
daily_deviation

       admf   amrt      bfin
1  0.014894  0.026  0.027779

### Annualy

In [64]:
annual_return =  pd.DataFrame({
    'admf':admf_log_return.mean() * 250,
    'amrt' :amrt_log_return.mean() * 250,
    'bfin' : bfin_log_return.mean() * 250}, index = [1])
annual_return

       admf      amrt     bfin
1  0.123394  0.222674  0.25872

In [65]:
annual_deviation = pd.DataFrame({
    'admf':admf_log_return.std() *250 **0.5,
    'amrt' :amrt_log_return.std() *250 **0.5,
    'bfin' : bfin_log_return.std() *250 **0.5}, index = [1])
annual_deviation

     admf      amrt      bfin
1  0.2355  0.411095  0.439219