In [1]:
import pandas as pd 
import numpy as np 
from pandas_datareader import data as wb
import yfinance as yfin

## Yfinance installed because data error type by only using pandas data_reader

*Please refer to yahoo finance for all the ticker because it might've been different from your usual ticker*.

The data in here are the only trading day data only, weekend and public holiday have been excluded

In [18]:
yfin.pdr_override()

In [16]:
pg = wb.get_data_yahoo('ITMG.jk', start = '2023-1-1')

[*********************100%***********************]  1 of 1 completed

In [21]:
pg.tail(10)

               Open     High      Low    Close     Adj Close    Volume
Date
2023-03-30  40950.0  41500.0  38400.0  39175.0  33025.843750   8988400
2023-03-31  39425.0  40250.0  39350.0  39400.0  33215.527344   8890800
2023-04-03  39725.0  40025.0  39700.0  39900.0  33637.042969   5651200
2023-04-04  40400.0  40800.0  40125.0  40525.0  34163.941406   5018800
2023-04-05  40525.0  40950.0  40200.0  40900.0  34480.078125   3738800
2023-04-06  41000.0  41500.0  40900.0  41125.0  34669.757812   5781000
2023-04-10  41200.0  41475.0  40350.0  40875.0  34459.000000  12093500
2023-04-11  38025.0  38025.0  38025.0  38025.0  38025.000000    634700
2023-04-12  35375.0  35375.0  35375.0  35375.0  35375.000000   1914000
2023-04-13  34200.0  35000.0  34125.0  34600.0  34600.000000   7151900

## Comparing Several Stock Closing Price

In [24]:
tickers = ['BRIS.jk', 'BFIN.jk', 'BJBR.jk', 'INDY.jk'] #select some of the ticker you would like to compare
comparison_data = pd.DataFrame()
for ticker in tickers : 
    comparison_data[ticker] = wb.get_data_yahoo(ticker, start = '2023-01-01')['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [25]:
comparison_data

            BRIS.jk  BFIN.jk  BJBR.jk  INDY.jk
Date
2023-01-02   1285.0   1075.0   1350.0   2720.0
2023-01-03   1395.0   1060.0   1355.0   2760.0
2023-01-04   1385.0   1055.0   1350.0   2630.0
2023-01-05   1335.0   1020.0   1340.0   2460.0
2023-01-06   1390.0   1070.0   1345.0   2440.0
...             ...      ...      ...      ...
2023-04-06   1810.0   1355.0   1385.0   2540.0
2023-04-10   1805.0   1365.0   1380.0   2470.0
2023-04-11   1780.0   1365.0   1370.0   2510.0
2023-04-12   1775.0   1355.0   1370.0   2540.0
2023-04-13   1720.0   1345.0   1380.0   2700.0

[70 rows x 4 columns]

## Importing From Other Financial Web Resources

In [1]:
python --version

NameError: name 'python' is not defined